extends templates/home

block title
  title Iscor - Contacto
block menu-contacto
  li: a.active(href="contacto.html") Contacto
block content
  header#contacto__header
    include includes/contacto__header
  section#contacto__form-and-map
    include includes/contacto__form-and-map  
