extends templates/home

block title
  title Iscor - Datos Enviados
block menu-contacto
  li: a.active(href="contacto.html") Contacto
block content
  header#contacto2__header
    include includes/contacto2__header
