extends templates/home
block title
  title Inicio | Iscor
block description
  meta(name="description" content="Infraestructura de Ti en México, Infraestructura de Ti, Análisis de Redes, Analisis de Redes en México.") 
block menu-inicio
  li: a.active(href="index.html") Inicio
