extends templates/home

block title
  title Iscor - Productos
block menu-productos
  li: a.active(href="productos.html") Productos
block content
  header#productos__header
    include includes/productos__header
  section#productos__grid
    include includes/productos__grid
