extends templates/home

block title
  title Iscor - Servicios
block menu-servicios
  li: a.active(href="servicios.html") Áreas de Acción
block content
  section#areas-accion__banner
    include includes/areas-accion__banner
  header(role="main")#areas-accion__header
    include includes/areas-accion__header
  section#areas-accion__servicios
    include includes/areas-accion__servicios
