extends templates/home

block title
  title Soluciones a empresas en TI - Iscor
block description
  meta(name="description" content="Iscor Soluciones somos empresa Mexicana integrada por profesionales de TI con más de 15 años de experiencia.") 
block menu-nosotros
  li: a.active(href="soluciones-a-empresas-en-ti.html") Nosotros
block content
  section#nosotros-banner
    include includes/nosotros-banner
  header(role="main")#nosotros-header
    include includes/nosotros-header
  section#nosotros-valores
    include includes/nosotros-valores
  
