extends templates/home

block title
  title Iscor - Soporte
block menu-soporte
  li: a.active(href="soporte.html") Soporte
block content
  .areas-accion__servicios.mb5
    .ed-container
      .ed-item
        h1 Soporte Técnico
        .separador
      .ed-item.web-30.mt5
        img(src="img/iconos-servicios/tech-support.png", alt="")
      .ed-item.web-70.mt5
        p Esta es la primera línea de acción, nuestro personal técnico evalúa la problemática, ejecuta las acciones correctivas adecuadas para la solución y en su caso escala con nuestros ingenieros especializados.
        p Nuestra experiencia y certificaciones nos avalan como especialistas en la identificación, diagnóstico e implementación de la solución de problemas de TI.
        p Si necesita apoyo o soporte técnico y Ud. ya es cliente actualmente o cuenta con una póliza de soporte con nosotros, por favor regístrese y levante un caso mediante nuestro Portal de Soporte.
        
        a.boton__soporte(href="http://soporte.iscor.com.mx/Main/Default.aspx" target="blank") Ir a Portal de Soporte
