.areas-accion__header
  .ed-container
    .ed-item
      h1 Áreas de acción
      h2 En ISCOR Soluciones estamos convencidos que el cliente es lo primero y que para ofrecer un mejor servicio es necesaria la especialización.
    .ed-item
      .separador
  .ed-container.mt5
    .ed-item.web-30
      h2 Personal Experto
      p Contamos con el personal experto con los conocimientos y experiencia en las tecnologías que ofrecemos para proporcionar las opciones de solución con el mayor valor agregado a nuestros clientes.
    .ed-item.web-70
      #aa-inicio
      .ed-container
        .ed-item.tablet-50.web-1-3
          .aa-container          
            a(href="#soporte")
              img.icon-animation(src="img/iconos-servicios/tech-support.png", alt="")
              h3.aa-title SOPORTE TÉCNICO
              p.aa-subtitle HABLAMOS DE SOLUCIÓN DE PROBLEMAS
        .ed-item.tablet-50.web-1-3
          .aa-container          
            a(href="#ingenieria-de-redes")
              img.icon-animation(src="img/iconos-servicios/ingenieria-redes.png", alt="")
              h3.aa-title INGENIERÍA DE REDES
              p.aa-subtitle HABLAMOS DE CONECTIVIDAD
        .ed-item.tablet-50.web-1-3
          .aa-container
            a(href="#sistemas-operativos")
              img.icon-animation(src="img/iconos-servicios/sistemas-operativos.png", alt="")
              h3.aa-title INFRAESTRUCTURA DE TI
              p.aa-subtitle HABLAMOS DE CÓMPUTO
        .ed-item.tablet-50.web-1-3
          .aa-container          
            a(href="#analisis-monitoreo")
              img.icon-animation(src="img/iconos-servicios/monitoreo-redes.png", alt="")
              h3.aa-title ANÁLISIS Y MONITOREO
              p.aa-subtitle HABLAMOS DE GESTIÓN
        .ed-item.tablet-50.web-1-3
          .aa-container          
            a(href="#seguridad-redes")
              img.icon-animation(src="img/iconos-servicios/seguridad-redes.png", alt="")
              h3.aa-title SEGURIDAD DE TI
              p.aa-subtitle HABLAMOS DE PROTEGER SU INFORMACION
        .ed-item.tablet-50.web-1-3
          .aa-container          
            a(href="#capacitacion")
              img.icon-animation(src="img/iconos-servicios/capacitacion.png", alt="")
              h3.aa-title CAPACITACIÓN
              p.aa-subtitle HABLAMOS DE COMPARTIR CONOCIMIENTO
    .ed-item
      .separador
