.areas-accion__servicios
  .ed-container
    .ed-item.web-30
      #soporte
      a(href="#aa-inicio")
        img.icon-animation(src="img/iconos-servicios/tech-support.png", alt="")
    .ed-item.web-70
      h2 Soporte Técnico
      p Esta es la primera línea de acción, nuestro personal técnico evalúa la problemática, ejecuta las acciones correctivas adecuadas para la solución y en su caso escala con nuestros ingenieros especializados.
      p Nuestra experiencia y certificaciones nos avalan como especialistas en la identificación, diagnóstico e implementación de la solución de problemas de TI.
      p Si necesita apoyo o soporte técnico y Ud. ya es cliente actualmente o cuenta con una póliza de soporte con nosotros, por favor regístrese y levante un caso mediante nuestro <a href="http://soporte.iscor.com.mx/Main/Default.aspx" target="blank">Portal de Soporte.</a>
  
  .ed-container
    .ed-item
      .separador
    
  .ed-container
    .ed-item.web-30.web-order-2
      #ingenieria-de-redes
      a(href="#aa-inicio")
        img.icon-animation(src="img/iconos-servicios/ingenieria-redes.png", alt="")
    .ed-item.web-70
      h2 Ingeniería de Redes
      p Ya sea que se trate de una red LAN, WAN o Wireless LAN, proveemos los productos y servicios que permitirán a su empresa aplicar la mejor tecnología en beneficio de sus objetivos organizacionales.
      h4 Diseño e Implementación de Redes
      p Nuestra gama de Servicios de Ingeniería abarca desde el diseño de redes LAN, WAN, Wireless LAN basado en mejores prácticas y estándares de la industria, hasta la implementación y puesta en operación de la misma.
      h4 Colaboración / VoIP  / ToIP
      p Diseño, implementación y soporte técnico de redes convergentes de Voz, Datos, Telefonía IP y Telepresencia, empleando siempre calidad de servicio en las redes para garantizar el ancho de banda que la voz y video requieren para su óptimo funcionamiento, utilizando equipo de la mejor tecnología, lo cual permite la reducción de costos, el aumento de la productividad, procesos de negocio simplificados y flujos de trabajo mejorados.
      h4 Wireless
      p Si requiere de diseñar e implementar, ofrecemos soluciones inalámbricas para redes que combinan la movilidad y flexibilidad que los usuarios demandan de una red inalámbrica con la seguridad y administración que requieren de una red cableada. Empleando protocolos y estándares de la industria 802.11a/b/g tanto para interiores como para redes exteriores, punto a punto y multipunto.
  .ed-container
    .ed-item
      .separador
  .ed-container
    .ed-item.web-30
      #sistemas-operativos
      a(href="#aa-inicio")
        img.icon-animation(src="img/iconos-servicios/sistemas-operativos.png", alt="")
    .ed-item.web-70
      h2 Infraestructura de TI
      p Proporcionamos las mejores opciones de Infraestructura y/o la asesoría para una toma de decisión que le ayude a cubrir sus necesidades de hardware y software.
      p Habilitando desde el hardware (servidores de torre, para rack, blade’s), y/o la implementación de sistemas operativos (Windows, Linux) y sus servicios como WebServer, Email Server, DNS Server, Ftp Server, Database Server, entre otros.
      h4 Implementación de S.O.
      p Si usted requiere implementar un Sistema Operativo ya sea Windows Server, RedHat, CentOS, etc. utilizando hardware de diferentes fabricantes, controladoras RAID, SAN, unidades de respaldos,  o realizar actualizaciones, parches o Service Packs, nosotros podemos ayudarle, entregando a usted un equipo en completo funcionamiento, configurado de acuerdo a sus necesidades específicas.
      h4 Active Directory
      p Implementación, configuración, recomendaciones, reportes, políticas de grupo, seguridad, etc. Estas son todas actividades las cuales ISCOR puede ayudarle a realizar, desde atención a una problemática específica, hasta proporcionarle las herramientas necesarias para que usted pueda realizar estas tareas en forma más sencilla, delegar responsabilidades o privilegios específicos sin comprometer la seguridad de todo su Directorio Activo.
      h4 DNS
      p Si desea obtener un dominio para su empresa, implementar un Servidor de DNS, si ya tiene un DNS pero necesita que se configure para su nuevo dominio, o requiere algún servicio con Dynamic DNS ISCOR puede ayudarle a realizar estas tareas o brindar el servicio completo, dependiendo de sus necesidades.
      h4 Correo
      p Implementación, configuración, monitoreo, reportes, administración, etc. estas son algunas de las tareas que ISCOR puede ayudarle a realizar, además de implementación de antivirus para correo gateways de correo para mayor seguridad, y configuraciones avanzadas de diferentes servidores de correo electrónico. También contamos con software para realizar la administración en forma más sencilla de las soluciones de correo de Exchange, usted podrá delegar permisos para crear cuentas, cambiar passwords, obtener reportes de uso de buzón, envío de correo a internet, local, tiempos de respuesta, etc.
      h4 Web
      p Si usted necesita monitorear su WebSite y conocer el comportamiento de este, es decir, los resultados de su campaña, o que páginas son las más visitadas por sus clientes, ISCOR le ofrece herramientas para llevar a cabo estas tareas y más. Le ofrecemos herramientas para control de acceso a Internet, que le permitirán bloquear o limitar los sitios que sus empleados pueden visitar, así como el uso de aplicaciones de mensajería instantánea o de transferencia de archivos, tales como Kazaa, eDonkey, Morpheus, Imesh, entre otros. Si usted necesita conocer el tráfico de su WebSite y la forma en que están trabajando sus campañas, o que tanto aparece en los distintos buscadores que existen en la Web, le ofrecemos herramientas que le permitirán optimizar al máximo el rendimiento de su WebSite y le permitirán incrementar sus visitas efectivas a través de las mejores estrategias SEO (Search Engine Optimization).
  .ed-container
    .ed-item
      .separador
  .ed-container
    .ed-item.web-30.web-order-2
      #analisis-monitoreo
      a(href="#aa-inicio")
        img.icon-animation(src="img/iconos-servicios/monitoreo-redes.png", alt="")
    .ed-item.web-70
      h2 ANALISIS Y MONITOREO
      h4 Monitoreo y Gestión
      p Una buena red no sería una buena red sin un método, sistema o herramienta para administrarla rápida y eficientemente, minimizando el esfuerzo requerido para hacer cambios en la red o resolver un problema en ella.
      p Proporcionamos las herramientas y servicios para enfrentar y acotar con la mayor rapidez los problemas de la infraestructura de TI, así como el análisis de tráfico y el manejo de los registros de eventos (Logs).
      p ISCOR Soluciones brinda servicios de monitoreo lo que permite que usted conozca el rendimiento de su Red, Servidores y Aplicaciones, tales como la utilización de ancho de banda, memoria física, virtual, paginación y utilización del Procesador; así como el monitoreo de sus Bases de Datos, Servidores de Correo, Servidores Web y Servicios de Directorio entre otros.
      h4 Análisis de Tráfico
      p Nuestros servicios de consultoría pueden informarle sobre el uso que se está haciendo de la red LAN, el nivel de salud, y tomar una fotografía del estado actual a nivel protocolo de su red. Esto combinado con la experiencia en campo de nuestros ingenieros, le brinda un panorama claro que le permite, desde planificar su crecimiento, hasta resolver un problema puntual o señalar la dirección en la que se debe seguir analizando para encontrar un punto de falla. Adicionalmente si así lo desea, las herramientas que se utilizan para realizar este análisis pueden ser adquiridas por usted para que su propio personal de TI las utilice en la resolución de fallas y otras actividades.
      h4 Diagnóstico
      p ¿Qué elemento del ciclo que compone el flujo de la información de sus aplicaciones es la causante de los problemas particulares de su ambiente? ¿Acaso es la infraestructura de red? ¿O tal vez la base de datos? Tal vez simplemente tengamos un problema de rendimiento de recursos de los servidores. ¿Cómo saberlo? ISCOR Soluciones cuenta con herramientas y personal experto para realizar un diagnóstico integral de la situación, tomando en cuenta todos los elementos que componen el flujo de los datos, Red, Hardware de Server, Sistema Operativo, Aplicación o Base de Datos.
      
  .ed-container
    .ed-item
      .separador
  .ed-container
    .ed-item.web-30
      #seguridad-redes
      a(href="#aa-inicio")
        img.icon-animation(src="img/iconos-servicios/seguridad-redes.png", alt="")
    .ed-item.web-70
      h2 Seguridad de TI
      p Brindamos soluciones para la seguridad perimetral (NGFW, IDS), VPN y acceso remoto, sistemas de control de acceso (LDAP, RADIUS, 2-Factor), prevención de pérdida de información (DLP), BYOD, MDM, certificados digitales, así como soluciones de Respaldo, Antivirus, Cifrado de Informacion, etc.
      h4 Seguridad Perimetral – NGFW Firewall
      p Actualmente es una necesidad el contar con un equipo que proteja el perímetro de nuestra red de las amenazas existentes en Internet e incluso en ocasiones las amenazas se encuentran en nuestra propia red interna, por lo cual es indispensable contar con una solución Firewall de nueva generación que permita detectar las amenazas modernas a la seguridad empresarial. ISCOR ofrece servicios de implementación, configuración, soporte a fallas, etc. de diferentes fabricantes, así como el servicio de administración y operación del mismo, usted no necesitara contar con un especialista en Firewall en su red. Revisiones de reglas, reportes de logs, utilización, etc., permítanos ayudarle a obtener el mejor rendimiento de su inversión, o ayudarle a elegir el mejor equipo de acuerdo a sus necesidades.
      h4 Detección de Intrusos
      p El aumento en la complejidad y la gravedad de los ataques hoy en día hacen que los sistemas de detección de intrusos sean una parte indispensable de la seguridad. Utilizando tecnologías de nueva generación (NGFW y NGIPS) es posible mitigar y reducir a su mínimo el riesgo de ser objeto de un ataque malicioso, sin comprometer el rendimiento y velocidad de la red. En ISCOR Soluciones ofrecemos productos y soluciones de varios fabricantes que lo ayudaran a mantener su empresa segura de estos ataques así como a tener visibilidad, mediante reportes claros y completos, de los riesgos que afectan a su red.
      h4 VPN y Acceso Remoto
      p La tecnología de VPN (Virtual Private Network) nos permite transportar información a través de un medio público o inseguro, sin permitir que esta información sea leída o modificada por cualquier persona, ya que la información viaja en forma cifrada y con validación de su integridad. Esta tecnología, nos permite cubrir las necesidades de acceso a la información de los sistemas empresariales, de una manera flexible, económica y sin comprometer la seguridad y confidencialidad de esta información. Actualmente se puede acceder a la información tan solo con un navegador Web, ya sea a través de una conexión de banda ancha, un ciber-café, o desde su hotel, a través de túneles de VPN sobre SSL.
      p Algunas de las ventajas que podemos obtener. <br>Para los empleados o vendedores:
      ul
        li Acceder de manera segura y autenticada a la información y los sistemas de la empresa en cualquier lugar con acceso a Internet.
        li Acceso a su correo electrónico como si estuviera en su oficina.
      p Para la empresa:
      ul
        li Aumento de productividad de los empleados, al tener acceso remoto seguro a su información/sistemas.
        li Ahorrar costos de enlaces dedicados al reemplazarlos por túneles de VPN seguros.
        li Compartir información o interacción de sistemas de manera segura con clientes o proveedores a través de Internet.
      h4 Control de Acceso (Radius, LDAP, 2-Factor)
      p En toda organización el acceso  a los recursos de red es clave para prácticamente cualquier rol. Sin embargo existe como en todo un riesgo que debe ser ponderado, pues la meta debe ser el brindarle acceso a la persona adecuada, a los recursos autorizados y en los tiempos adecuados; esto es acceso seguro, pero controlado. Para esto existen soluciones que permiten de manera flexible brindar una autenticación del acceso a los recursos.
      ul
        li Autenticación de Doble Factor (2-Factor Authentication) – Permiten mejorar el nivel de seguridad reduciendo el riesgo inherente de los métodos de autenticación de un solo factor como los passwords.
        li Administracion de la Identidad del Usuario (User Identity Management) – Las soluciones de UIM proveen de autenticación doble factor, 802.1x para Wireless, integración con RADIUS, LDAP y manejo de certificados PKI.
      h4 Seguridad Web y Filtrado de Contenido
      p Si le interesa conocer el uso que sus empleados hacen del Internet, cuánto tiempo emplean en navegación, y si esa navegación está relacionada con su trabajo o no, ofrecemos herramientas para la visibilidad y control de acceso a Internet, que le permitirán limitar el tiempo de navegación en  los sitios que sus empleados pueden visitar, e impedir que naveguen hacia sitios que puedan ir en contra de las políticas de su organización, tales como sitios de contenido adulto, sitios comprometidos o infectados con malware, spyware, bots y cualquier sitio que pueda resultar en un riesgo de seguridad o productividad para su organización. Con nuestras herramientas podrá limitar el uso de aplicaciones tales como mensajería instantánea (Google Talk, Yahoo Messenger, Whatsapp, etc.), o aplicaciones de intercambio de archivos Peer-to-peer (BitTorrent, Ares, Kazaa, eDonkey, Morpheus, Imesh, entre otros). De esta forma usted limita riesgos de seguridad en la información a la vez que evita que sus empleados utilicen los recursos de la empresa para fines improductivos.
      h4 Antivirus
      p Hoy en día las infecciones por virus y gusanos son cada vez más comunes y de más rápida y fácil propagación. Esto potencia el riesgo de que nuestros equipos y redes se vean afectados, así como el posible daño que puedan causar. Contar con una solución de Antivirus para protegernos de estos ataques es un deber ineludible, ISCOR Soluciones le ofrece soluciones integrales de antivirus de manera que usted pueda tener protegidos sus equipos y pueda administrar proactivamente el ciclo de vida de las epidemias administrando su antivirus desde un punto centralizado.
      h4 Respaldos
      p Contamos con servicios de respaldos de servidores, Laptops, y PC ’s de manera que usted pueda configurar los respaldos de todos sus servidores desde una sola consola central para plataformas Windows, Unix, Linux y Mac OS X Servers.
      h4 Cifrado de Información
      p Hoy en día proteger el contenido de los datos que se transmiten por la red es vital, ISCOR Soluciones le ofrece sus servicios para ayudarle a mantener su información integra y segura de manera que su información sea leída solo por las personas que usted desee.
      h4 Análisis de Vulnerabilidades
      p Debido a que las compañías confían cada vez más de las tecnologías de la información para realizar sus operaciones, es indispensable que se tomen las medidas necesarias para valorar los controles de seguridad que protegen su información crítica. ISCOR Soluciones le ofrece sus servicios para la valoración de posibles vulnerabilidades en la que se realiza una evaluación técnica tanto de la vulnerabilidad, como de los controles de seguridad que se aplican en el sistema de computación de una organización.
  .ed-container
    .ed-item
      .separador
  .ed-container.mb5
    .ed-item.web-30.web-order-2
      a(href="#aa-inicio")
        img.icon-animation(src="img/iconos-servicios/capacitacion.png", alt="")
    .ed-item.web-70
      #capacitacion
      h2 Capacitación
      p Entregamos entrenamientos básicos y especializados, tanto en temas en general de TI, como de las marcas que representamos, impartidos por el personal con la experiencia de campo necesaria para brindarle a su empresa el mejor aprovechamiento tanto teórico como práctico.
