.contacto2__header
  .ed-container
    .ed-item
      h1.mt3 ¡Gracias!
      p Su información fue enviada correctamente.
        br
        br
        a(href="index.html").boton__soporte Regresar
      .separador
