#owl-demo.owl-carousel.owl-theme
  //slider1
  .banner--img.base-cross-center.web-cross-center
    .ed-container
      .ed-item.web-80.center
        .textbox EXPERTOS EN TECNOLOGÍA
  //slider2
  .banner--img1.base-cross-center.web-cross-center
    .ed-container
      .ed-item.web-80.center
        .textbox SEGURIDAD DE TI
  //slider3
  .banner--img2.base-cross-center.web-cross-center
    .ed-container
      .ed-item.web-80.center
        .textbox BRINDAMOS SOLUCIONES
