.home__header--main
  .ed-container
    .ed-item
      h1.header__home--title ISCOR SOLUCIONES
      p.header__home--description  "Innovando constantemente con productos líderes y nuestros servicios, logramos entender las necesidades de nuestros clientes para ofrecer soluciones de valor agregado."
