.home__areas-accion
  .ed-container
    .ed-item
      h2.aa-main-title Áreas de Acción
    .ed-item.tablet-50.web-1-3
      .aa-container
        a(href="servicios.html#soporte")
          .aa-img
            img.icon-animation(src="img/iconos-servicios/tech-support.png", alt="")
          h3.aa-title  SOPORTE TÉCNICO
          h4.aa-subtitle HABLAMOS DE SOLUCIÓN DE PROBLEMAS
          p.aa-description Con un enfoque centrado siempre en la satisfacción del cliente. 
    .ed-item.tablet-50.web-1-3
      .aa-container
        a(href="servicios.html#ingenieria-de-redes")
          .aa-img
            img.icon-animation(src="img/iconos-servicios/ingenieria-redes.png", alt="")
          h3.aa-title  INGENIERÍA DE REDES
          h4.aa-subtitle HABLAMOS DE CONECTIVIDAD
          p.aa-description La base de toda Red Empresarial es la conectividad. 
    .ed-item.tablet-50.web-1-3
      .aa-container
        a(href="servicios.html#sistemas-operativos")
          .aa-img
            img.icon-animation(src="img/iconos-servicios/sistemas-operativos.png", alt="")
          h3.aa-title  INFRAESTRUCTURA DE TI
          h4.aa-subtitle HABLAMOS DE CÓMPUTO
          p.aa-description Las plataformas para habilitar cualquier aplicación del negocio. 
    .ed-item.tablet-50.web-1-3
      .aa-container
        a(href="servicios.html#analisis-monitoreo")
          .aa-img
            img.icon-animation(src="img/iconos-servicios/monitoreo-redes.png", alt="")
          h3.aa-title  ANÁLISIS Y MONITOREO
          h4.aa-subtitle HABLAMOS DE GESTIÓN
          p.aa-description En toda infraestructura de TI es vital la supervisión y el control para garantizar la continuidad de operación.
    .ed-item.tablet-50.web-1-3
      .aa-container
        a(href="servicios.html#seguridad-redes")
          .aa-img
            img.icon-animation(src="img/iconos-servicios/seguridad-redes.png", alt="")
          h3.aa-title  SEGURIDAD DE TI
          h4.aa-subtitle HABLAMOS DE PROTEGER SU INFORMACION
          p.aa-description Sabemos que éste es el factor más importante en la adopción de tecnología como habilitadora de los procesos de negocio.
    .ed-item.tablet-50.web-1-3
      .aa-container
        a(href="servicios.html#capacitacion")
          .aa-img
            img.icon-animation(src="img/iconos-servicios/capacitacion.png", alt="")
          h3.aa-title  CAPACITACIÓN
          h4.aa-subtitle HABLAMOS DE COMPARTIR CONOCIMIENTO
          p.aa-description El recurso humano es lo más valioso en cualquier organización, y por esto siempre será indispensable habilitar su crecimiento profesional y técnico mediante el conocimiento.
