.ed-container
  .ed-item
    .separador
.nosotros-mvv
  .ed-container
    .ed-item.movil-main-center
      h1 Misión, Visión y Valores
    .ed-item.tablet-1-3
      h2 Misión
      .imgcenter
        img(src="img/iconos-servicios/icon-mision.png", alt="")

      h3 Misión:
      p Proveer de los productos y servicios de tecnología que permitan a nuestros clientes hacer negocios interactuando de la mejor forma con el entorno digital actual y futuro siendo un generador de cambio positivo para la empresa, nuestros asociados y accionistas.
    .ed-item.tablet-1-3
      h2 Visión
      .imgcenter
        img(src="img/iconos-servicios/icon-vision.png", alt="")
      h3 Visión General
      p Crecer y trascender al convertirnos en la mejor opción de ingeniería en la región, en todas las marcas y especialidades que representemos
    .ed-item.tablet-1-3
      h2 Valores
      .imgcenter
        img(src="img/iconos-servicios/icon-valores.png", alt="")
      h3 Valores Centrales:
      ul
        li Honestidad
        li Ética
        li Responsabilidad
        li Respeto:
          ul      
            li A la empresa
            li A las personas que laboran en la empresa
            li A los clientes
            li A uno mismo
            li A la comunidad
      h3 Valores de Negocio:
      ul  
        li Pasión por el servicio al cliente
        li Trabajo en Equipo
        li Balance personal y profesional
