.ed-container
  .ed-item
    .separador
    
.nosotros-objetivo
  .ed-container
    .ed-item.tablet-50
     img(src="img/gallery/objetivo.png", alt="")
    .ed-item.tablet-50
      h1 Objetivo
      p En Iscor Soluciones nuestro objetivo principal es brindar a nuestros clientes soluciones integrales a la medida de sus necesidades.
