.nosotros-header
  .ed-container
    .ed-item
      h1 Acerca de Nostros

      p  Iscor Soluciones es una empresa Mexicana del Grupo ISCOR integrada por profesionales de las TI con más de 15 años de experiencia, especialistas en la ingeniería y la integración de servicios en tecnologías de información, dedicada a brindar soluciones a los retos tecnológicos y de negocio de nuestros clientes.
      
