.privacidad__content.mb5
  .ed-container
    .ed-item
      h1 Aviso de Privacidad
      
      p En cumplimiento a lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de Particulares (en adelante, la Ley) Iscor Soluciones S.A. de C.V. con domicilio en Avenida Constituyentes de N.L. No. 1201-22, Col. Linda Vista, en Guadalupe, N.L., México, C.P. 67130, informa:
      
      p 1. Iscor Soluciones recopila solamente la información que en ésta página solicita con los siguientes propósitos:(a) fines de identificación, (b) fines estadísticos y/o (c) para eventualmente contactarlo vía correo electrónico con el fin de responder a su solicitud y monitorear la frecuencia de su uso de este Portal para administración interna y propósitos de análisis, (d) además para ofrecerle los productos con los que contamos, (e) invitarlo a cursos o eventos referentes a los servicios de la empresa.

      p 2. Sus datos personales son compartidos con terceros que son nuestras compañías afines y empresas proovedoras de nuestros productos, servicios de redes, aplicaciones, sistemas. Aún cuando este tercero puede recolectar información sobre Usted en nuestro nombre, nosotros controlamos el uso de esa infor- mación de acuerdo con este Aviso. No comercializamos, vendemos o rentamos información personal sobre Usted a un tercero sin un consentimiento previo de su parte o a solicitud expresa del usuario como pudiera ser en los casos de fusión, adquisición o venta de activos que efectúe Iscor Soluciones.
        
      p 3. El encargado del Departamento de Protección de Datos Personales es el Departamento de Recursos Humanos de la compañía con el correo electrónico de arco@iscor.com.mx 
      
      p 4. En los términos previstos en la Ley y demás disposiciones aplicables, usted tiene derecho a limitar el uso de sus datos personales, así como a ejercer los derechos ARCO (acceso, rectificación, revocación, cancelación y oposición) previstos en la Ley, solicitándolo a través de la cuenta de correo arco@iscor.com.mx; los documentos que acrediten la identidad o, en su caso, la representación legal; la descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos ARCO y cualquier otro elemento que facilite la localización de los datos personales.
      
      p 5. En el presente Portal, Iscor Soluciones no recaba datos personales sensibles de los usuarios. No obstante, si se diera el caso, se obtendrá el consentimiento expreso y por escrito del titular para su tratamiento, a través de su firma autógrafa, firma electrónica, o cualquier mecanismo de autenticación.

      p 6. Este Aviso de Privacidad cumple con los requisitos que marca la Ley (artículos 15 y 16).
      
      p 7. En caso de que exista algún cambio en este Aviso de Privacidad, se le comunicará a los usuarios del Portal de la siguiente manera: (a) enviándole un correo electrónico a la cuenta que ha registrado en este Portal y/o (b) publicando una nota visible en nuestro Portal. No seremos responsables si Usted no recibe la notificación de cambio en el Aviso de Privacidad si existiere algún problema con su cuenta de correo electrónico, de transmisión de datos por internet o si no se tuvo acceso al Portal por cualquier causa no imputable a Iscor Soluciones. Por su seguridad, revise en todo momento que así lo desee el contenido de este aviso de privacidad en nuestro Portal. Nos reservamos el derecho de cambiar este Aviso de Privacidad en cualquier momento. Las leyes y regulaciones de diferentes países pueden imponer diferentes requerimientos (e inclusive con- flictivos) en el Internet y la protección de la información. Nosotros estamos ubicados en México y todos los asuntos en relación a este Portal son regidos por las leyes de México. Si Usted está ubicado en algún otro país fuera de México y nos contacta, por favor tome en cuenta que cualquier información que Usted nos provea será transferida a México, y al momento de ingresar su información Usted autoriza esta transferen- cia y la aceptación del presente Aviso de Privacidad.
      
      p 
        b Atentamente
      
      h2 Iscor Soluciones S.A. de C.V.
