.productos__grid.mt5.mb5
  .ed-container
    .ed-item
      .galeria
        .box 
          a(href="https://www.forcepoint.com/es" target="blank")
           img(src="img/logos/forcepoint.png", alt="Forcepoint en México")
        .box 
          a(href="http://www.solarwinds.com/es/" target="blank")
           img(src="img/logos/solarwinds.png", alt="Solarwinds en México")
        .box
          a(href="http://www.fortinet.com/" target="blank") 
           img(src="img/logos/forntinet.png", alt="Fortinet en México")
        .box 
          a(href="http://www.cisco.com/c/es_mx/index.html" target="blank")
           img(src="img/logos/cisco.png", alt="Cisco en México")
        .box 
          a(href="http://www.checkpoint.com/resources/securitycheckup/" target="blank")
           img(src="img/logos/checkpoint.png", alt="CheckPoint en México")
        .box 
          a(href="http://www.air-watch.com/es/" target="blank")
           img(src="img/logos/airwatch.png", alt="Airwatch en México")
        .box
          a(href="http://www.juniper.net/us/en/" target="blank") 
           img(src="img/logos/juniper.png", alt="Juniper Networks en México")
        .box
          a(href="http://la.trendmicro.com/" target="blank") 
           img(src="img/logos/trend.png", alt="Trendmicro en México")
        .box
          a(href="http://www.vmware.com/mx" target="blank") 
           img(src="img/logos/vmware.png", alt="Vmware en México")
        .box 
          a(href="http://www.microsoft.com/es-mx/" target="blank")
           img(src="img/logos/microsoft.png", alt="Microsoft en México")
        
    
