.productos__header
  .ed-container
    .ed-item
      h1 Las Mejores Marcas
      p  Con la finalidad de ofrecer las mejores soluciones a nuestros clientes contamos con producto de las marcas más reconocidas:
  .ed-container
    .ed-item
      .separador
