.topbar
  .ed-container
    .ed-item.tablet-70.web-80
      .ed-container
        .ed.item.web-40.web-main-start.md-none
          img(src="img/mx.png", alt="")
          a(href="contacto.html") 01 800 00 ISCOR (47267)
        .ed-item.web-30.web-cross-center.web-main-end.tel Oficina Mty: &nbsp;
          a(href="tel:+528183555555") (81) 83555-5555 
        .ed-item.web-30.web-cross-center.web-main-end.mail E-mail: &nbsp;
          a(href="mailto:ventas@iscor.com.mx") ventas@iscor.com.mx
    .ed-item.tablet-30.web-20
      ul.topbar__menu.web-main-end
          li.topbar__menu.topbar__menu--item
            a.topbar__link--social(href="https://www.facebook.com/iscor" target="blank") f
          li.topbar__menu.topbar__menu--item
            a.topbar__link--social(href="https://twitter.com/IscorMx" target="blank") t
          li.topbar__menu.topbar__menu--item
            a.topbar__link--social(href="https://www.linkedin.com/company/iscor-soluciones-s-a--de-c-v-" target="blank") a
          li.topbar__menu.topbar__menu--item
            a.topbar__link--social(href="https://plus.google.com/b/112562861944252635308/112562861944252635308" target="blank") +
